.skinny {
  width: 50%;
  font-family: serif;
}

.log_href {
  font-size: 1.2em;
}

.section-heading {
  width: 50%;
}

.log-section-logo {
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 2em;
  margin: 0.2em 0;
}
