html,
body {
  background: #B3B3B3;
  color: black;
}

.container {
  display: flex;
}

.left-container {
  padding: 2em;
  width: 50%;
}

.right-container {
  margin: 0 auto;
}

.gusherWell {
  height: 26em;
}

.about-justified {
  text-align: justify;
}

.api-form {
  padding: 1.5em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #E7E7E7;
}

#api-form-input {
  border-radius: 5px;
  height: 1.8em;
  padding-left: 0.6em;
  font-size: 0.8em;
}

#api-form-submit {
  font-size: 1.1em;
  border-radius: 5px;
  float: right;
}
