.container {
  display: flex;
}

.left-container {
  padding: 2em 0 0 6em;
  width: 50%;
}

.right-container {
  margin: 0 auto;
}

.gusherWell {
  margin-top: 5em;
  height: 28em;
  animation-iteration-count: infinite;
}

.about-justified {
  text-align: justify;
}

.api-form {
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #E7E7E7;
}

#api-form-input {
  border-radius: 5px;
  height: 1.8em;
  padding-left: 0.6em;
  font-size: 0.8em;
  margin-left: 1em;
}

#api-form-submit {
  font-size: 1.1em;
  border-radius: 5px;
  float: right;
}

.left-container-fancyFont {
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 3em;
  margin: 0.2em 0;
}
